@font-face {
   font-family: "Meiryo";
   src: url("/src/assets/fonts/Meiryo\ UI\ W53\ Bold.ttf");
   font-weight: 700;
}
@font-face {
   font-family: "Meiryo";
   src: url("/src/assets/fonts/Meiryo\ UI\ W53\ Regular.ttf");
   font-weight: 500;
}

@font-face {
   font-family: "DS-DIGITAL";
   src: url("/src/assets/fonts/DS-DIGI.TTF");
   font-weight: 500;
}
@font-face {
   font-family: "DS-DIGITAL";
   src: url("/src/assets/fonts/DS-DIGIB.TTF");
   font-weight: 700;
}