.opening-container{
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   .opening-bt3{
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
   }
   .screenShadow{
      background: #000;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 1s box-shadow ease;
      box-shadow: inset 0 0 100px 30px #000;
      z-index: 4;
      &.showOpening{
         background: transparent;
      }
   }
}
@keyframes textAnimation{
   0%{
      transform: scaleY(0);
   }
   3%{
      transform: scaleY(1);
   }
   97%{
      transform: scaleY(1);
   }
   100%{
      transform: scaleY(0);
   }
}
@keyframes boxAnimation{
   0%{
      transform: scale(1);
   }
   5%{
      transform: scaleX(12);
      opacity: 1;
   }
   10%{
      transform: scale(12);
   }
   90%{
      transform: scale(12);
   }
   95%{
      transform: scaleX(12);
      opacity: 1;
   }
   100%{
      transform: scale(1);
   }
}