.intro-container{
   background: #000;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   .rights-reserved{
      width: 75%;
      filter: blur(0.08vw);
      .rights-text{
         color: #fff;
         font-size: 1.7vw;
         white-space: pre-line;
         user-select: none;
         &:nth-child(1){
            line-height: 1;
         }
         &:nth-child(2){
            line-height: 1.25;
            margin-top: 2.4vw;
         }
      }
      .hide-text{
         background: #000;
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         transition: 1s opacity ease;
      }
   }
   .intro-game{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .background{
         background: #ff64fa;
         position: relative;
         width: 100%;
         height: 100%;
         .clouds{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 200%;
            filter: blur(0.1vw);
            &.clouds-one{
               height: 40%;
               animation: 10s cloudsMove infinite linear;
            }
            &.clouds-two{
               height: 65%;
               animation: 20s cloudsMove infinite linear;
            }
         }   
      }
      .characters-container{
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: hidden;
         .characters{
            width: 100%;
            height: 100%;
            max-height: 68vw;
            transform: scaleX(1.3);
            filter: blur(0.15vh);
            img{
               position: absolute;
               image-rendering: pixelated;
            }
            .picoro{
               height: 31.5%;
               left: 0%;
               bottom: 100%;
               transform: translate(44%, -70%) rotate(-58deg) scale(1.5);
               animation: picoroAnimate 3s ease-in-out forwards 1.2s;
               @keyframes picoroAnimate{
                  20%{
                     left: 0;
                     bottom: 40%;
                  }
                  50%{
                     left: 5%;
                     bottom: 0%;
                  }
                  100%{
                     left: 50%;
                     bottom: 50%;
                     transform: translate(44%, -70%);
                  }
               }
            }
            .vegeta{
               height: 50%;
               bottom: 50%;
               left: 100%;
               transform: translate(100%, 10%) scale(1.9, 1.6);
               transform-origin: left;
               animation: vegetaAnimate 2s ease-in-out forwards 1.5s;
               @keyframes vegetaAnimate{
                  to{
                     left: 50%;
                     transform: translate(-210%, 10%) scale(1);
                  }
               }
            }
            .trunks{
               height: 53%;
               top: 100%;
               left: 100%;
               transform: translate(100%, 0%) scale(1.9, 1.6);
               transform-origin: left;
               animation: trunksAnimate 2s ease-in-out forwards 1.8s;
               @keyframes trunksAnimate {
                  to{
                     top: 50%;
                     left: 50%;
                     transform: translate(-175%, -22%) scale(1);
                  }
               }
            }
            .gohan{
               height: 72%;
               right: 50%;
               top: 100%;
               transform: translate(0%, 100%) scale(1.9, 1.6);
               transform-origin: top left;
               animation: gohanAnimate 2s ease-in-out forwards 1.8s;
               @keyframes gohanAnimate {
                  to{
                     top: 50%;
                     transform: translate(14%, -19%);
                  }
               }
            }
            .goten{
               height: 59%;
               top: 50%;
               right: 100%;
               transform: translate(0%, 0%) scale(2.4, 2.1);
               transform-origin: center right;
               animation: gotenAnimate 2s ease-in-out forwards 2.5s;
               @keyframes gotenAnimate {
                  to{
                     right: 50%;
                     transform: translate(65%, -26%) scale(1);
                  }
               }
            }
            .goku{
               height: 94%;
               bottom: 100%;
               right: 100%;
               transform: translate(0%, 0%) scale(1.9, 1.6);
               transform-origin: bottom right;
               animation: 2s gokuAnimate ease-out forwards 3.5s;
               @keyframes gokuAnimate{
                  75%{
                     bottom: 45%;
                     right: 40%;
                  }
                  100%{
                     bottom: 50%;
                     right: 50%;
                     transform: translate(114%, 70%) scale(1);
                  }
               }
            }
            .logo-budokai{
               height: 47%;
               left: 50%;
               bottom: 100%;
               transform: translate(-50%, 0%) scale(2);
               transform-origin: bottom;
               animation: logoAnimate 1s ease-in-out forwards 5.2s;
               @keyframes logoAnimate {
                  50%{
                     bottom: 50%;
                     transform: translate(-50%, 5%) scale(1);
                  }
                  70%{
                     transform: translate(-50%, 5%) scale(1.1);
                  }
                  90%{
                     transform: translate(-50%, 5%) scale(1);
                  }
                  100%{
                     bottom: 50%;
                     transform: translate(-50%, 5%);
                  }
               }
            }
            .esfera{
               height: 23%;
               aspect-ratio: 1/1;
               right: 40%;
               bottom: 100%;
               transform: translate(-50%, -50%) scale(0.8);
               transform-origin: right bottom;
               object-fit: cover;
               object-position: 0;
               animation:  esferaAnimate 5.5s ease-in-out forwards,
                           lightAnimate .5s steps(6, end) 3.8s;
            }        
         }
      }
      .menu{
         position: absolute;
         width: 100%;
         height: 100%;
         .press-start-container{
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translateY(-1.5%);
            opacity: 0;
            animation: pressStartBox .5s ease forwards 6s;
            .press-start-box{
               position: absolute;
               height: 7%;
               top: 50%;
               left: 50%;
               transform: translate(-50%, 280%) scaleX(1.25);
               opacity: .9;
            }
            .press-start{
               position: absolute;
               height: 6.7%;
               top: 50%;
               left: 50%;
               transform: translate(-50%, 285%) scaleX(1.1);
               opacity: .9;
               animation: pressStart .9s ease infinite 6s;
            }
         }
         .select-game-container{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .new-game{
               position: absolute;
               top: 50%;
               right: 100%;
               height: 7.1%;
               transform: translate(0, 194%) scaleX(1.25);
               transform-origin: right;
               display: flex;
               justify-content: center;
               transition: .3s ease-out;
               &.active{
                  right: 50%;
                  transform: translate(50%, 194%) scaleX(1.25);
                  transform-origin: center;
               }
               .bar{
                  height: 100%;
                  width: 87vh;
                  background: url("/images/Bar.png");
                  background-size: 87vh 14.2vh;
               }
               .text{
                  position: absolute;
                  height: 100%;
                  width: 44.5vh;
                  background: url(/images/New-Game.png);
                  background-size: 44.5vh 14.2vh;
                  animation: selectGame 0.4s infinite alternate;
               }
               div{
                  filter: blur(.15vh);
               }
            }
            .continue-game{
               position: absolute;
               top: 50%;
               left: 100%;
               height: 7.1%;
               transform: translate(0, 340%) scaleX(1.25);
               transform-origin: left;
               display: flex;
               justify-content: center;
               transition: .3s ease-out;
               &.active{
                  left: 50%;
                  transform: translate(-50%, 340%) scaleX(1.25);
                  transform-origin: center;
               }
               div{
                  filter: blur(.15vh);
               }
               .bar{
                  height: 100%;
                  width: 87vh;
                  background: url("/images/Bar.png");
                  background-size: 87vh 14.2vh;
               }
               .text{
                  position: absolute;
                  height: 100%;
                  width: 37vh;
                  background: url(/images/Continue.png);
                  background-size: 37vh 14.2vh;
                  animation: selectGame 0.4s infinite alternate;
               }
            }
         }
      }
      .hide-intro{
         position: absolute;
         width: 100%;
         height: 100%;
         background: #000;
         opacity: 1;
         transition: opacity .3s ease-out;
      }
   }
}
@keyframes selectGame {
   to{
      transform: scaleY(.9);
   }
}
@keyframes pressStart {
   50%{
      transform: translate(-50%, 285%) scale(1.1, 0.9);
   }
   100%{
      transform: translate(-50%, 285%) scaleX(1.1);
   }
}
@keyframes pressStartBox{
   to{
      transform: translate(0, 0);
      opacity: 1;
   }
}
@keyframes lightAnimate{
   to{
      object-position: 100%;
   }
}

@keyframes esferaAnimate{
   20%{
      right: -2%;
      bottom: 40%;
   }
   30%{
      right: 5%;
      bottom: -5%;
   }
   45%{
      right: 100%;
      bottom: 65%;
   }
   50%{
      right: 100%;
      bottom: 100%;
      transform: translate(0%, 0%) scale(2.5);
   }
   60%{
      right: 50%;
      bottom: 100%;
   }
   80%{
      right: 25%;
      bottom: 35%;
   }
   100%{ 
      bottom: 50%;
      right: 50%;
      transform: translate(160%, 190%);
   }
}



@keyframes cloudsMove{
   to{
      transform: translateX(50%);
   }
}

