.cursor{
   width: 4vh;
   height: 4vh;
   border-radius: 50%;
   border: .2vh solid rgb(255 255 255 / 50%);
   position: absolute;
   transform: translate(-50%, -50%);
   transition: .2s transform ease-out;
   pointer-events: none;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;
   &::before, &::after{
      content: "";
      position: absolute;
   }
   &::before{
      width: 2.5vh;
      height: 2.5vh;
      border-radius: 50%;
      border: .2vh solid transparent;
      border-left-color: #fff;
      border-right-color: #fff;
   }
   &::after{
      background: #fff;
      width: .3vh;
      height: .3vh;
      border-radius: 50%;
   }
   &.hover{
      transform: translate(-50%, -50%) scale(1.3);
      &::before{
         animation: cursorHover2 1s infinite;
      }
   }
}
@keyframes cursorHover2{
   to{
      transform: rotate(360deg);
   }
}

.container{
   position: relative;
   .dark-room-container{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-origin: 20% 20%;
      transition: .2s transform ease;
      position: relative;
      overflow: hidden;
      cursor: none;
      .living-room{
         width: auto;
         height: 100%;
         object-fit: contain;
         transition: .2s filter ease-out;
         z-index: 1;
      }
      .tv-screen{
         position: absolute;
         top: 15.5%;
         width: 37vh;
         height: 23.5%;
         transform: perspective(11vh) rotateY(1.8deg) translateX(-86%);
         transform-origin: top left;
         z-index: 0;
         .not-signal{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;
         }
         .intro-ps2{
            position: absolute;
            top: 0;
            z-index: 1;
         }
         .transition-bg{
            background: #000;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
         }
      }
      .playstation{
         position: absolute;
         top: 47.2%;
         left: 50%;
         width: 20vh;
         height: 4%;
         border-radius: 50%;
         transform: translateX(-220%) rotate(-4deg) skewX(45deg);
         z-index: 3;
         .light{
            position: absolute;
            top: 55%;
            right: 3%;
            height: 0.2vh;
            aspect-ratio: 1/1;
            transform: rotate(4deg) skewX(-45deg);
            &.light-off{
               background: #ff0000;
               box-shadow: 0 0 10px 3px #ff0000;
            }
            &.light-on{
               background: #00ff0d;
               box-shadow: 0 0 10px 3px #00ff0d;
            }
         }
      }
      .digital-clock-container{
         position: absolute;
         top: 30.5%;
         left: 50%;
         width: 13vh;
         height: 2%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         transform: translateX(-24%) skewX(-5deg) rotate(-3deg);
         z-index: 1;
         &:hover > .neon-clock{
            visibility: visible;
            opacity: 1;
         }
         .digital-clock{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
            .numbers{
               color: #c0ff00;
               font-family: "DS-DIGITAL";
               font-size: 1.3vh;
               font-weight: 700;
               line-height: 1;
               letter-spacing: 0.15vh;
               text-shadow: 0 0 10px #c0ff00, 0 0 10px #c0ff00;
            }
         }
         .neon-clock{
            width: 100%;
            height: 5vh;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -150%);
            display: flex;
            justify-content: center;
            transition: .3s ease-out;
            visibility: hidden;
            opacity: 0;
            &::before{
               content: "";
               position: absolute;
               bottom: 0;
               width: 65%;
               height: 2vh;
               transform: translateY(110%) perspective(50vh) rotateX(70deg) rotate(-5deg) skewX(20deg);
               background: #c0ff00;
               filter: blur(2.5vh);
               opacity: .9;
            }
            span{
               color: #c0ff00;
               font-family: "DS-DIGITAL";
               font-size: 5vh;
               font-weight: 700;
               line-height: 1;
               letter-spacing: 0.15vh;
               text-shadow: 0 0 10px #c0ff00, 0 0 5px #c0ff00;
            }
         }
      }
   }
}