@import './sass/fonts';

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Meiryo";
}

.App{
   background: #000;
   overflow: hidden;
}

@import "./components/HomeScreen/HomeScreen";
@import "./components/Loading/Loading";
@import "./components/Loading/MemoryCard";
@import "./components/Opening/Opening";
@import "./components/Intro/Intro";
@import "./components/VersusMenu/VersusMenu";
@import "./components/Characters/Characters"